pycache/
*.py[cod]
*$py.class
venv/
env/
.env

.vscode/
.idea/
.DS_Store
Thumbs.db

*.mp4
*.mov
*.avi
*.mkv
*.ts
*.flv
output/

*.exe
ffmpeg.exe

app_config.json
autosave_data.json

build/
dist/
*.spec

*.json
!default_project.json
!template.json